.example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 100%;
  }
  mat-slider {
    width: 300px;
  }    

  .example-container1 {
    width: 400px;
    height: 200px;
    margin: 10px;
    border: 1px solid #555;
  }

  .example-fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
  }