.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  h2{color:brown}
  span{color:blue;font-weight:bold}
  h3{color:black;font-style:italic} 